@import url('https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&display=swap');

* {
    box-sizing: border-box;
}

body {
    background-color: #242333;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh;
    font-family: 'Lato', sans-serif;
    color: #fff;
    margin: 0;
    padding: 0;
}

.movie-container {
    margin: 20px 0px;
    display: flex;
    flex-direction: column;
}

.movie-container .header {
    font-size: 24px;
    margin: 8px 0px;
    font-weight: 700;
}

.movie-container select {
    background-color: #fff;
    border: 0;
    border-radius: 4px;
    font-size: 14px;
    padding: 4px 16px;
    min-width: 250px;
    height: 48px;
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
}

.seat {
    background-color: #444451;
    height: 40px;
    width: 48px;
    margin: 8px;
    border-top-left-radius: 22px;
    border-top-right-radius: 22px;
}

.seat:nth-of-type(2) {
    margin-right: 32px;
}

.seat:nth-last-of-type(2) {
    margin-left: 32px;
}


.seat.selected {
    background-color: #6feaf6;
}

.seat.occupied {
    background-color: #fff;
}

.row-seat {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

.row-seat .seat {
    cursor: pointer;
    transition: all .5s ease;
}

.row-seat .seat:not(.occupied):hover {
    border: 1px solid #fafafa;
    transform: scale(1.2);
    transition: all .5s ease;
    /* box-shadow: 1px 2px 3px; */
}

.showcase {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    background: rgba(0, 0, 0, .1);
    color: #777;
    padding: 10px 12px;
    margin-bottom: 24px;
    border-radius: 4px;
    font-weight: 600;
}

.showcase li {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding: 0px;
    margin: 0 10px;
}

.showcase .seat {
    margin: 0px;
    height: 16px;
    width: 20px;
}

.showcase small {
    margin-left: 12px;
}

.container {
    perspective: 1000px;

}

.screen {
    height: 80px;
    width: 100%;
    background-color: #fafafa;
    margin-bottom: 32px;
    box-shadow: 0px 5px 10px 0px rgba(255, 255, 255, 0.8);
    transform: rotateX(-30deg);
}


/*MEDIA QUERYS*/
@media only screen and (max-width:599px) {
    .seat {
        height: 18px;
        width: 22px;
        margin: 4px;
        border-top-left-radius: 10px;
        border-top-right-radius: 10px;
    }

    .seat:nth-of-type(2) {
        margin-right: 16px;
    }

    .seat:nth-last-of-type(2) {
        margin-left: 16px;
    }


}

.github-section {
    position: fixed;
    bottom: 0;
    min-height: 36px;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100vh;
    background-color: rgba(0, 0, 0, .6);
    border-top-left-radius: 8px;
    border-top-right-radius: 9px;
    animation: showlink 1s ease 1 forwards;
    animation-delay: .5s;
    transform: translateY(100%);
}

@keyframes showlink {
    0% {
        transform: translateY(100%);
    }

    100% {
        transform: translateY(0%);
    }

}